.datatable_length select{
    padding: 0.25rem 1.5rem;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #eaeaea;
}
.datatable_filter input{
    margin-left: 5px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
.datatable_filter input:focus{
    box-shadow: none;
    border: 1px solid #eaeaea;
}
thead td,thead th{
    position: relative;
}
.sorting:before{
    bottom: 50%;
    content: "▲";
    content: "▲"/"";
}
.sorting:after{
    top: 50%;
    content: "▼";
    content: "▼"/"";
}
.sorting:before, .sorting:after {
    position: absolute;
    display: block;
    opacity: .125;
    right: 10px;
    line-height: 9px;
    font-size: 1.1rem;
}
.sorting_asc:before, .sorting_desc:after {
    opacity: .6;
}