.sorting:before{
    bottom: 50%;
    content: "▲";
    content: "▲"/"";
}
.sorting:after{
    top: 50%;
    content: "▼";
    content: "▼"/"";
}
.sorting:before, .sorting:after {
    position: absolute;
    display: block;
    opacity: .125;
    right: 10px;
    line-height: 9px;
    font-size: 1.1rem;
    color: inherit;
}
.sorting_asc:before, .sorting_desc:after {
    opacity: .6;
}