.sorting:before{
    bottom: 52%;
    content: '\25BA';
    transform: rotate(-90deg);
}
.sorting:after{
    top: 52%;
    content: '\25BA';
    transform: rotate(90deg);
}
.sorting:before, .sorting:after {
    position: absolute;
    display: block;
    opacity: .125;
    right: 5px;
    line-height: 9px;
    font-size: .75rem;
    color: inherit;
}
.sorting_asc:before, .sorting_desc:after {
    opacity: .6;
}